* {
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.header  h1 {
    font-size:  3rem;
}
.gameboards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.all-col-index {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
}

.index-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.boards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.row{
    display: flex;
}

.grid,
.index-column,
.index-row {
    width: 50px;
    height: 60px;
    border: 1px rgb(0, 0, 0) solid;
    
}

.index-column,
.index-row {
    background-color: black;
    color: rgb(251, 242, 242);
    border: 1px rgb(0, 0, 0) solid;
}

.index-column {
    display: flex;
    justify-content: center;
    align-items: center;
}