* {
    padding: 0;
    margin: 0;
}
.gameboards{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.rows-num{
    display: grid;
    grid-template-rows: repeat(10, 57px);
    grid-template-columns: 60px;
    align-items: center;
    text-align: center;
}
.rows-num > div{
    display: flex;
    justify-content: center;
    align-items: center;
}



.board{
    display: grid;
    grid-template-rows: repeat(10, 55px);
    grid-template-columns: repeat(10,60px);
}

.row,.rows-num > div{
    border: 1px rgb(0, 0, 0) solid;
    height: 100%;
}