* {
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.header  h1 {
    font-size:  3rem;
}
.gameboards {
    display: flex;
    justify-content: center;
    gap: 100px;
}
.rows-number {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
}
.column-letters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.boards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.col{
    display: flex;
}

.row,
.rows-num,
.column-letters {
    width: 50px;
    border: 1px rgb(0, 0, 0) solid;
    height: 60px;
}

.rows-num,
.column-letters {
    background-color: black;
    color: rgb(251, 242, 242);
    border: 1px rgb(0, 0, 0) solid;
}

.rows-num {
    display: flex;
    justify-content: center;
    align-items: center;
}